input, select{
    width: 500px;
    height: 75px;
}

input[type='button']{
    width:200px;
    height: 80px;
}

label{
    font-size: 40px;
    color:rgb(65, 60, 60)
}
  input, option{
      font-size: 2em;
  }
  input::placeholder{
      color:rgb(136, 132, 132)
  }